<% include ./partials/header %>

<h1>Purchase Avocado Policy</h1>
<br />

<form action="/" method="post">

  <div class="row">
    <div class="form-group col-md-6">
      <label for="name">Name</label>
      <input class="form-control" type="text" name="name" placeholder="Name" required/><br />
    </div>
    <div class="form-group col-md-6">
      <label for="phonenumber">Phone Number</label>
      <input class="form-control" type="text" name="phonenumber" placeholder="Phone Number" required/><br />
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <label for="ethaddress">Ethereum Address</label>
      <input class="form-control" type="text" name="ethaddress" placeholder="Ethereum Address" required/><br />
    </div>
    <div class="form-group col-md-6">
      <label for="email">Email Address</label>
      <input class="form-control" type="text" name="email" placeholder="Email Address" required/><br />
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <label for="premium">Premium (in Ether)</label>
      <input class="form-control" type="text" name="premium" id="premium" placeholder="Insurance Premium (in Ether)" required/><br />
    </div>
    <div class="form-group col-md-6">
      <label for="technique">Farming Technique</label>
      <select class="form-control" type="text" name="technique">
        <option value="hand">Hand</option>
        <option value="machine">Machine</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <label for="size">Size of Farm (in acres)</label>
      <input class="form-control" type="text" name="size" placeholder="Size of Farm (in acres)" required/><br />
    </div>
    <div class="form-group col-md-6">
      <label for="experience">Years of Farming Experience</label>
      <input class="form-control" type="text" name="experience" placeholder="Years of Farming Experience" required/><br />
    </div>
  </div>

  <button class="btn btn-primary" onclick="putMoneyInContract()">Purchase Policy</button>

</form>


<% include ./partials/footer %>
